@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body,
html {
    overflow-x: hidden;
    background-color:#e4e4e4;
}

.container-custom{
    max-width: 1130px;
    width: 100%;
    margin: auto;
}

.header{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    margin: 0 auto;
}
hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;   
}
.rounded-brand{
    border-radius: 14px !important;
}

.img-custom{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-custom{
    background: #217BF4;
    opacity: 0.06;
}
.color-bold-cusom{
    color: #2F2C4A !important;
}
.color-bland-custom{
    color:#656464 !important;
}
.fw-600-custom{
    font-weight: 600;
}
.bg-custom-dw{
    background:#E5F0FD;
}
.pt-100-custom{
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-footer-custom{
    background-color: #2B2B39;
}
.bg-footer2-custom{
    background-color: #20202D;
}
.outline-0{
    outline:0;
    background-color:transparent;
}

p{
    margin: 0 !important;
    padding: 0 !important;
}